.Above_footer {
    height: 228px;
    /* background-color: #fbfbfb; */
}

.af_footer_outside {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 226px;
    justify-content: space-around;
    overflow: hidden;
}

.af_footer_outside img {
    width: 57px;
    height: 46px;
}

.af_footer_container {
    width: 260px;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.af_footer_text {
    display: flex;
    flex-direction: column;
}

.af_footer_text_1 {
    font-weight: bold;
}

.title_footer_firt {
    text-align: center;
    letter-spacing: 1px;
}

.title_footer_firt h1 {
    font-weight: bold;
    font-size: 38px;
}

.title_footer_firt p {
    font-size: 16px;
    margin-top: 19px;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .af_footer_outside {
        flex-direction: column;
        gap: 11px;
    }

    .bgr_img_sendnow {
        height: 31rem;
    }
}

@media (min-width:375px) and (max-width: 767px) {
    .Above_footer {
        margin-top: 16rem;
        margin-top: 22rem;
    }

    .title_footer_firt h1 {
        font-weight: bold;
        font-size: 29px;
    }
}