.content{
    width: 100%;
    position: relative;
    
}
.content-img{
    
    width: 30rem;
    
    
}
.content-img img{
    width: 100%;
}
/* .content-img1 img{
    width: 54%;
    position: absolute;
    top: -18px;
    right: 53rem;
    z-index: 1;
} */
.content-title{
    position: absolute;
    right: 0;
    top: 29px;
    width: 59rem;
    background-color: #cccccc29;
    height: 55rem;
    z-index: 0;
    padding: 245px 238px
}
.firt-title-content h2{
    font-weight: 600;
    font-size: 31px;
}
.firt-title-content p{
    font-size: 19px;
}
.ct-title-content{
    border-bottom: 1px solid #cccccb59;
    /* margin-bottom: 14px; */
    padding-bottom: 12px;
    /* margin-top: 13px; */
    padding-top: 19px;
}
.ct-title-content h4{
    font-size: 16px;
    font-weight: 600;

}
.last-title-content{
    border-bottom: none;
}
.btn-view{
    padding: 19px 43px;
    /* background: white; */
    background: #cccccc29;
    
    border: 1px solid #cccccb80;
    letter-spacing: 2px;
    font-size: 12px;
}
.btn-view:hover{
    background: black;
    color: white;
}