@import url('https://fonts.googleapis.com/css2?family=Allura&family=Poppins:wght@500&family=Roboto:wght@300&family=Work+Sans:wght@400;600&display=swap');

h5,h6{
    text-align: center;

}
h5{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    color:#1c1c1c;
    font-size: 15PX;
    text-transform: uppercase;
    line-height: 1.4em;
    letter-spacing: .02em;
}
.card{

    width: 19rem;
    height: 315px;
    height: 313.03px;
    width: 20rem;
    height: 350px !important;

    background: #f9f9f9;
    border-style: none;
    margin: 10px 25px 30px 15px;
    overflow: hidden;

}
.card-body{
    padding: 0;
    position: relative;
    z-index: 0;
}


.card_div{
    position: relative;
    z-index: 0;
}
.card-body{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card_notinvi:nth-child(-n+3){
    font-size: 1.3rem;
}

.card_invi:nth-child(-n+3){
    font-size: 1.3rem;
}
.card_invi{
    display: none;

}
.card-text{
    text-align: center;
    color:#1c1c1c;
    font-weight: 600;

    transition: .3 ease-out;
    width: 70%;
}

.card_price{cursor: pointer;}

.card-text:hover .card_invi{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
    cursor: pointer;}
    .card-text:hover .card_notinvi{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3.5rem;
        cursor: pointer;}
        .card-text .card_notinvi{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 3.5rem;
            cursor: pointer;}
.textcard_invi:hover .card_price{
    display: none;
}


@media only screen and (max-width: 1435px){
    .card{width: 17rem;}
  }
  @media only screen and (max-width: 1306px){
    .card{width: 16rem;}
  } 
   @media only screen and (max-width: 1247px){
    .card{width: 18rem;}
    .col-9{width: 100%;}
  }
  @media only screen and (max-width: 1115px){
   .card{width: 15rem;}
  }
  @media only screen and (max-width: 980px){
    .card{width: 18rem;}
   }