.product_comment_all {
    text-align: center;
    margin-top: 8rem;

}

.product_comment_all h1 {
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 51px;

}

.product_comment_all p {
    font-size: 18px;
}

.comment_product_1 {
    margin: 0px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 47px;
}

.comment_user_1 {
    display: flex;
    justify-content: space-around;
    width: 27rem;
}

.img_user_comment {
    width: 100%;
    overflow: hidden;

}

.img_user_comment img {
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.img_user_comment img:hover {
    transform: scale(1.02);
}

.title_comment_product {
    margin-top: 20px;
}

.title_comment_product h4 {
    font-weight: bold;
    font-size: 25px;
}

.img_comment_1 {
    height: 27rem;
    overflow: hidden;
}

.img_hungg {
    height: 27rem;
}


@media (min-width: 768px) and (max-width: 1023px) {
    .comment_product_1 {
        flex-direction: column;
        gap: 25px;
        align-items: center;
    }
}

@media (min-width:375px) and (max-width: 767px) {


    .sendnow_all {
        margin-top: 2rem;
    }

    .title_sendnow_1 h1 {
        font-size: 27px;
    }

    .title_sendnow_1 p {
        font-size: 12px;
    }

    .block_sendnow_1 {
        width: 22rem;
        height: 30rem;
    }

    .type_sendnow input {
        width: 20rem;
    }

    .type_sendnow button {
        padding: 11px;
        width: 6rem;
        font-size: 11px;
        margin-top: 19px;
    }

    .thank_sendnow {
        height: 30px;
        width: 20rem;
        margin: 0px 17px;
    }

    .thank_sendnow span {
        font-size: 13px;
    }

    .comment_product_1 {
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }

    .comment_user_1 {
        width: 23rem;

    }
}