.Content_pagination {
    display: flex;
    margin: 0px 25rem;
    width: 200px;
    align-items: center;
    height: 5rem;
    justify-content: center;
    gap: 31px;
}

.Content_pagination button {
    display: flex;
    justify-content: center;
    color: gray;
    background: white;
}

.Content_pagination button.active {
    color: black;
}



.Content_pagination button:hover {
    color: #565656;
    text-decoration: underline;
}

.spinner_container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.btn_search_test {
    padding: 0px 5px;
}

.btn_search_test:hover {
    color: white;
    background-color: #1c1c1c;

}

.dark_popup_1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #00000096;
    z-index: 9;
    visibility: hidden;
}

.container_card {
    /* margin-top: 5rem; */
}

.container_card_sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 80%;
    height: 100px;
    margin-left: 15px;
}

.container_card_name {
    padding: 8px
}

.container_cart_sort div {
    margin: 10px;
}

.btn_container_price {
    padding: 8px;
}

.btn_container_price:hover {
    color: white;
    background-color: #1c1c1c;
}

@media (min-width:320px) and (max-width: 812px) {
    
    .container_card_sort {

        flex-wrap: wrap;
        height: 25rem;
    }

    .Content_pagination {
        margin: 0px 5rem;
    }

    .card_div {
        width: 100%;
    }

    .container_card {
        margin-left: 2rem;
    }
}